.container{
  width: 100%;
}

@media (min-width:640px){
  .container{
    max-width: 640px;
  }
}

@media(min-width:768px){
  .comtainer{
    max-width: 768px;
  }
}
@media(min-width:1024px){
  .comtainer{
    max-width: 1024px;
  }
}
@media(min-width:1068px){
  .comtainer{
    max-width: 1068px;
  }
}